<div class="portfolio">
    <div class="portfolio-heading">
      <h2>My Portfolio</h2>
      <div class="divider"></div>
    </div>
    <div class="container">
      <div class="card">
        <div class="card__img">
        </div>
        <div class="card__title">
          <h2>Project Description</h2>
        </div>
        <div class="card__proyect-links">
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="">
            <i class="fas fa-globe-asia"></i>
          </a>
          <a href="">
            <i class="fas fa-code"></i>
          </a>
        </div>
        <div class="button-content">
          <button class="project-details-button download-cv">
            <a href="#">Project Details</a>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card__img">
        </div>
        <div class="card__title">
          <h2>Project Description</h2>
        </div>
        <div class="card__proyect-links">
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="">
            <i class="fas fa-globe-asia"></i>
          </a>
          <a href="">
            <i class="fas fa-code"></i>
          </a>
        </div>
        <div class="button-content">
          <button class="project-details-button download-cv">
            <a href="#">Project Details</a>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card__img">
        </div>
        <div class="card__title">
          <h2>Project Description</h2>
        </div>
        <div class="card__proyect-links">
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="">
            <i class="fas fa-globe-asia"></i>
          </a>
          <a href="">
            <i class="fas fa-code"></i>
          </a>
        </div>
        <div class="button-content">
          <button class="project-details-button download-cv">
            <a href="#">Project Details</a>
          </button>
        </div>
      </div>
    </div>
  </div>