<div class="wrapper-header">
    <main class="main">
        <div class="info-content">
            <h1>Mariano<span> Villalonga</span></h1>
            <h5>SoftwareDevelouper</h5>
            <p>Soy Analista en Sistemas, actualmente estudiante de ingenieria en sistemas, soy programador FullStack con conocimientos
                con HTML, CSS, JavaScript, React, Angular, MySql, NodeJS, PHP, Express
            </p>
            <a download href="#">
                <button class="download-cv" download="" >
                    Descargar mi CV
                </button>
            </a>
        </div>
        <img src="../../../assets/img/mariano.jpeg" alt="">
    </main>
</div>

<div class="about">
    <img src="../../../assets/img/trabajo.jpg" alt="">
    <div class="about-info">
        <h2>Mis trabajos</h2>
        <div class="divider"></div>
        <p>
            Cobromix · Jornada completa · Jornada completa
            jul. 2022 - actualidad
            <li>NodeJS, React, Express,MySql</li>
        </p>
        <p>
            Version Dos · Profesional independiente · Profesional independiente
            may. 2022 - actualidad
            <li>PHP,MySql</li>
        </p>
        <p>
            ITS servicios informaticos · Jornada completa · Jornada completa
            jun. 2021 - mar. 2022 · 10 meses
            <li>PHP, JavaScript, MySql, Ajax</li>
        </p>
        <p>
            Oeste Servicios Sociales · Jornada completa · Jornada completa
            feb. 2021 - mar. 2021 · 2 meses
            <li>C#, MySql</li>
        </p>
        <a href="https://www.linkedin.com/in/mariano-villalonga-778507199/">
            <button class="download-cv">
                Ir a mi linkedin
            </button>
        </a>
    </div>
</div>

<div class="contact-section">
    <div class="contact-headings">
        <h2>Para contactarme</h2>
        <div class="divider"></div>
    </div>
    <div class="container-contact">
        <img src="../../../assets/img/contacto.jpg" alt="">
        <div class="contact-form">
            <h4>Envia un mensaje</h4>
            <form class="form">
                <input type="text" placeholder="Nombre">
                <input type="email" placeholder="E-Mail">
                <textarea placeholder="Escribe tu mensaje">

                </textarea>
                <button type="submit" class="btn-submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
